/* Ms Madi */
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

  html {
    scroll-behevior: smooth;
    font-family: 'Roboto', sans-serif;
  }
    h1,h2,h3,h4,h5,h6 {
      font-family: 'Combo', cursive;
    }

    @layer components{
      .hHover{
      @apply hover:border-b-8 hover:rounded-md hover:border-red-600 w-fit;
    }
    .textColor{
    @apply bg-clip-text text-transparent bg-gradient-to-r from-green-500 via-blue-500 to-violet-500
    }
    }
    
    @keyframes bounce {
  0%, 100% {
    transform: translateY(25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
.animate-bounce {
  animation: bounce 9s infinite;
}